<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-horizontal-menu></app-horizontal-menu>
</div>
<div style="flex: 1 0 auto;">
  <app-add-tenant></app-add-tenant>
</div>
<!--<div style="text-align:center; flex: 1 0 auto;">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <br>
  <br>
  <img width="300" alt="Multicloud Logo" src="assets/images/multicloud_tekst.png">
</div>-->

<div style="text-align: center; background-color: #f44336; color: #f44336" >
  <footer>Michał Chabiera</footer>
</div>

<router-outlet></router-outlet>
